---
import { getCollection } from "astro:content";
import Layout from "@/layouts/BaseLayout.astro";
import { slugifyTag, unslugifyTag, getAllUniqueTags } from "@/utils/tags";
import ReturnButton from '@/components/ReturnButton.astro';

// Generate static paths for all tags
export async function getStaticPaths() {
  const allPosts = await getCollection("ob_blog");
  const tags = getAllUniqueTags(allPosts);

  
  return tags.map(tag => ({
    params: { tag: slugifyTag(tag) },
    props: { tag, posts: allPosts.filter(post => post.data.tags?.includes(tag)) }
  }));
}

// Get the tag and posts from props
const { tag, posts } = Astro.props;
const title = `Posts tagged with "${tag}"`;

---

<Layout title={title}>
  <main class="container py-4">
    <!-- button return to all blog posts -->
    <ReturnButton href="/blog" label="Return to all blog posts" />
    
    <!--  -->
    <h1 class="mb-4">Posts tagged with "{tag}"</h1>
    {posts.length > 0 ? (
      <div class="row row-cols-1 row-cols-md-2 g-4">
        {posts.map(post => (
          <div class="col" key={post.slug}>
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">
                  <a href={`/blog/${post.id}`} class="text-decoration-none">
                    {post.data.title}
                  </a>
                </h5>
                <p class="card-text">{post.data.description}</p>
                <div class="d-flex gap-2">
                  {post.data.tags?.map(postTag => (
                    <a 
                      href={`/tags/${slugifyTag(postTag)}`} 
                      class="badge text-bg-secondary text-decoration-none"
                      key={postTag}
                    >
                      {postTag}
                    </a>
                  ))}
                </div>
              </div>
            </div>
          </div>
        ))}
      </div>
    ) : (
      <p>No posts found for this tag.</p>
    )}
  </main>
</Layout>
