---
import FormattedDate from "@/components/FormattedDate.astro";
import { formatYymmddDate } from "@/utils/formatDate";
import { Badge } from "@/components/starwind/badge";

interface Props {
  date?: Date | string | number;
  title?: string;
  description?: string;
  tags?: string[];
  classes?: string[];
}

const { date, title, description, tags, classes } = Astro.props;
---

<header class:list={classes}>
  {date && <FormattedDate date={formatYymmddDate(date)} />}
  {title && <h1>{title}</h1>}
  {description && <p class="italic text-balance">{description}</p>}
  <div class="flex flex-wrap items-center text-sm">
    {
      tags && tags.length > 0 && (
        <>
          {tags.map((tag: string) => (
            <Badge variant="outline" size="sm">{tag}</Badge>
          ))}
        </>
      )
    }
  </div>
</header>
