---
// import { Debug } from "astro/components";
// import { Image } from "@astrojs/image/components";
import { formatYymmddDate } from "@/utils/formatDate";
// import Link from "./Link.astro";

const { data, url, heading, classes } = Astro.props;

const Heading = heading;

const {
  title = "",
  pubDate = "",
  // image = "",
  description = "",
  tag = "",
} = data;

const image = url;
---

<article class:list={["card", classes]}>
  <img
    class="card-img"
    width="92"
    height="92"
    src={`/assets/${image}.png`}
  />
  <div class="content">
    <p class="meta">
      {formatYymmddDate(pubDate).toLocaleDateString()} | {tag.join(", ")}
    </p>
    <Heading class="title">
      <a href={`/blog/${url}/`}>
        {title}
      </a>
    </Heading>
    <p>{description}</p>
  </div>
</article>
<style>
  .card {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    
  }
  .card * {
    margin: 0;
    padding: 0;
  }
  .meta {
    font-size: var(--size-sm);
  }
  .title {
    font-size: var(--h3);
  }
  .card-img {
    aspect-ratio: 1/1;
    object-fit: cover;
  }
</style>
<!-- 
<div class="card">
  <div class="card-header">Featured</div>
  <div class="card-body">
      <h5 class="card-title">
          Card title
      </h5>
      <p class="card-text">
          Some quick example text to build
          on the card title and make up
          the bulk of the card's content.
      </p>
      <a href="#" class="btn btn-primary"
          >Go somewhere</a
      >
  </div>
  <div
      class="card-footer text-body-secondary"
  >
      2 days ago
  </div> -->